
# OS Info
is_7: "{{ (ansible_distribution_major_version == '7') | bool }}"
is_6: "{{ (ansible_distribution_major_version == '6') | bool }}"
httpd_version: "{{ '2.4' if (is_7) else '2.2' }}"

# ESGF Info
versions:
  installer: 4.0.0-alpha1
  java: jdk1.8.0_192
  search: v4.17.9
  stats_api: v1.0.9
  dashboard: v1.5.24
  dashboard_db: 0.0.3
  node_manager: v1.0.4
  node_manager_db: 0.1.6
  orp: v2.10.11
  security: v3.0.0-a2
  security_db: 0.1.6
  idp: v2.8.8

assets:
  base: https://github.com/ESGF/esgf-ansible/releases/download/{{ versions.installer }}
  search: https://github.com/ESGF/esg-search/releases/download/{{ versions.search }}
  stats_api: https://github.com/ESGF/esgf-stats-api/releases/download/{{ versions.stats_api }}
  dashboard: https://github.com/ESGF/esgf-dashboard/releases/download/{{ versions.dashboard }}
  node_manager: https://github.com/ESGF/esgf-node-manager/releases/download/{{ versions.node_manager }}
  orp: https://github.com/ESGF/esg-orp/releases/download/{{ versions.orp }}
  security: https://github.com/ESGF/esgf-security/releases/download/{{ versions.security }}
  idp: https://github.com/ESGF/esgf-idp/releases/download/{{ versions.idp }}

mirror_host: aims1.llnl.gov
mirror:
  base: https://{{ mirror_host }}/esgf/dist

esg:
  config:
    repo: https://github.com/ESGF/config.git
    version: master
    dir: /esg/config
  content: /esg/content
  home: /esg
  log: /esg/log

pkgs:
  apache: httpd
  postgres_server: postgresql-server
  postgres_devel: postgresql-devel
  psgycopg2: python-psycopg2

conda:
  prefix: /usr/local/conda
  exe: /usr/local/conda/bin/conda
  actv: source /usr/local/conda/bin/activate
  envs: /usr/local/conda/envs
  mods: lib/python2.7/site-packages

java:
  src: "{{ assets.base }}/{{ versions.java }}-64.tar.gz"
  root_dir: "{{ versions.java }}"
  path: /usr/local/java


tomcat:
  src: http://archive.apache.org/dist/tomcat/tomcat-8/v8.5.34/bin/apache-tomcat-8.5.34.tar.gz
  root_dir: apache-tomcat-8.5.34
  path: /usr/local/tomcat
  webapps: /usr/local/tomcat/webapps
  ts:
    url: "{{ assets.base }}/esg-truststore.ts"
    path: "{{ esg.config.dir }}/tomcat/esg-truststore.ts"
    pass: changeit
  ks:
    path: "{{ esg.config.dir }}/tomcat/keystore-tomcat"
    pass: "{{ admin_pass }}"
tomcat_ctrl: /usr/local/tomcat/bin/catalina.sh

esgf_rpm:
  baseurl: https://{{ mirror_host }}/esgf/RPM/centos/{{ ansible_distribution_major_version }}/x86_64/

all_db:
  users:
    super:
      name: dbsuper
      pass: "{{ admin_pass }}"
  db: esgcet
  host: localhost
  port: 5432

db_url: '{{ all_db.users.super.name }}:{{ all_db.users.super.pass }}@{{ all_db.host }}:{{ all_db.port }}/{{ all_db.db }}'

schema_migrate:
  env: schema-migrate

properties:
  dest: /esg/config/esgf.properties
  fragments: /tmp/properties_fragments/

httpd:
  trusted_ca:
    url: "{{ assets.base }}/esgf-ca-bundle.crt"
    name: esgf-ca-bundle.crt
  cert_dir: /etc/certs
  cabundle: /etc/certs/esgf-ca-bundle.crt
  hostkey: /etc/certs/hostkey.pem
  hostcert: /etc/certs/hostcert.pem
  cachain: /etc/certs/cachain.pem
  ssl_proxy_dir: /etc/httpd/conf.d/esgf-proxy-ssl
  proxy_dir: /etc/httpd/conf.d/esgf-proxy


orp_webapp:
  url: "{{ assets.orp }}/esg-orp.war"
  name: esg-orp

security:
  egg:
    name: "esgf_security-{{ versions.security_db }}-py2.7.egg"
    url: "{{ assets.security }}/esgf_security-{{ versions.security_db }}-py2.7.egg"
    script: "esgf_security_initialize"

type_bits:
  data: 4
  index: 8
  idp: 16

grid_security:
  dir: /etc/grid-security
  cert_dir: /etc/grid-security/certificates
  host:
    key: /etc/grid-security/hostkey.pem
    cert: /etc/grid-security/hostcert.pem

prometheus:
  exporters:
    - name: node_exporter
      full_name: node_exporter-0.17.0.linux-amd64
      src: https://github.com/prometheus/node_exporter/releases/download/v0.17.0/node_exporter-0.17.0.linux-amd64.tar.gz
      port: 9100
      dir: /usr/local/node_exporter
      web_path: /metrics
      run: /usr/local/node_exporter/node_exporter

    - name: apache_exporter
      full_name: apache_exporter-0.5.0.linux-amd64
      src: https://github.com/Lusitaniae/apache_exporter/releases/download/v0.5.0/apache_exporter-0.5.0.linux-amd64.tar.gz
      port: 9117
      dir: /usr/local/apache_exporter
      web_path: /apache-metrics
      run: "/usr/local/apache_exporter/apache_exporter -scrape_uri 'http://{{ ansible_fqdn }}/server-status/?auto'"

    - name: postgres_exporter
      full_name: postgres_exporter_v0.4.7_linux-amd64
      src: https://github.com/wrouesnel/postgres_exporter/releases/download/v0.4.7/postgres_exporter_v0.4.7_linux-amd64.tar.gz
      port: 9187
      dir: /usr/local/postgres_exporter
      web_path: /postgres-metrics
      run: DATA_SOURCE_NAME='postgresql://{{ db_url }}?sslmode=disable'
        /usr/local/postgres_exporter/postgres_exporter
        --disable-default-metrics
        --extend.query-path=/usr/local/postgres_exporter/queries.yml

dashboard:
  egg:
    name: "esgf_dashboard-{{ versions.dashboard_db }}-py2.7.egg"
    url: "{{ assets.dashboard }}/esgf_dashboard-{{ versions.dashboard_db }}-py2.7.egg"
    script: esgf_dashboard_initialize
  git:
    repository: "https://github.com/ESGF/esgf-dashboard.git" # There is a problem naming this variable 'repo'
    version: "{{ versions.dashboard }}"
    dest: /usr/local/esgf-dashboard
  ip:
    home: /usr/local/esgf-dashboard-ip
    ctrl_script: /usr/local/esgf-dashboard-ip/bin/ip.service
    log: /usr/local/esgf-dashboard-ip/dashboard-ip.log

gridftp:
  port: 2811
  chroot: "{{ esg.home }}/gridftp_root"
