
# Hostname Info
hostname:
  self: "{{ ansible_fqdn }}" # This will be the output of `hostname -f` and may not be the correct hostname to use
  idp: "{{ groups['idp'][0] }}"
  index: "{{ groups['index'][0] }}"

# OS Info
is_7: "{{ (ansible_distribution_major_version == '7') | bool }}"
is_6: "{{ (ansible_distribution_major_version == '6') | bool }}"
httpd_version: "{{ '2.4' if (is_7) else '2.2' }}"

# ESGF Info
versions:
  installer: 4.0.0-alpha1
  java: jdk1.8.0_192
  search: v4.18.1
  stats_api: v1.0.9
  node_manager: v1.0.5
  node_manager_db: 0.1.7
  orp: v2.11.0
  security: v2.8.11
  security_db: 0.1.7
  idp: v2.8.8

assets:
  base: https://github.com/ESGF/esgf-ansible/releases/download/{{ versions.installer }}
  search: https://github.com/ESGF/esg-search/releases/download/{{ versions.search }}
  stats_api: https://github.com/ESGF/esgf-stats-api/releases/download/{{ versions.stats_api }}
  node_manager: https://github.com/ESGF/esgf-node-manager/releases/download/{{ versions.node_manager }}
  orp: https://github.com/ESGF/esg-orp/releases/download/{{ versions.orp }}
  security: https://github.com/ESGF/esgf-security/releases/download/{{ versions.security }}
  idp: https://github.com/ESGF/esgf-idp/releases/download/{{ versions.idp }}

mirror_host: aims1.llnl.gov
mirror:
  base: https://{{ mirror_host }}/esgf/dist

esg:
  config:
    repo: https://github.com/ESGF/config.git
    version: master
    dir: /esg/config
  content: /esg/content
  home: /esg
  log: /esg/log

pkgs:
  apache: httpd
  postgres_server: postgresql-server
  postgres_devel: postgresql-devel
  psgycopg2: python-psycopg2

conda:
  prefix: /usr/local/conda
  exe: /usr/local/conda/bin/conda
  actv: source /usr/local/conda/bin/activate
  envs: /usr/local/conda/envs
  mods: lib/python2.7/site-packages

tomcat:
  src: http://archive.apache.org/dist/tomcat/tomcat-8/v8.5.57/bin/apache-tomcat-8.5.57.tar.gz
  root_dir: apache-tomcat-8.5.57
  path: /usr/local/tomcat
  webapps: /usr/local/tomcat/webapps
  ts:
    url: "{{ assets.base }}/esg-truststore.ts"
    path: "{{ esg.config.dir }}/tomcat/esg-truststore.ts"
    pass: changeit
  ks:
    path: "{{ esg.config.dir }}/tomcat/keystore-tomcat"
    pass: "{{ admin_pass }}"
tomcat_ctrl: /usr/local/tomcat/bin/catalina.sh

esgf_rpm:
  baseurl: https://{{ mirror_host }}/esgf/RPM/centos/{{ ansible_distribution_major_version }}/x86_64/

all_db:
  users:
    super:
      name: dbsuper
      pass: "{{ admin_pass }}"
  db: esgcet
  host: localhost
  port: 5432

db_url: '{{ all_db.users.super.name }}:{{ all_db.users.super.pass }}@{{ all_db.host }}:{{ all_db.port }}/{{ all_db.db }}'

schema_migrate:
  env: schema-migrate

properties:
  dest: /esg/config/esgf.properties
  fragments: /tmp/properties_fragments/

httpd:
  trusted_ca:
    url: "{{ assets.base }}/esgf-ca-bundle.crt"
    name: esgf-ca-bundle.crt
  cert_dir: /etc/certs
  cabundle: /etc/certs/esgf-ca-bundle.crt
  hostkey: /etc/certs/hostkey.pem
  hostcert: /etc/certs/hostcert.pem
  cachain: /etc/certs/cachain.pem
  ssl_proxy_dir: /etc/httpd/conf.d/esgf-proxy-ssl
  proxy_dir: /etc/httpd/conf.d/esgf-proxy


orp_webapp:
  url: "{{ assets.orp }}/esg-orp.war"
  name: esg-orp

security:
  egg:
    name: "esgf_security-{{ versions.security_db }}-py2.7.egg"
    url: "{{ assets.security }}/esgf_security-{{ versions.security_db }}-py2.7.egg"
    script: "esgf_security_initialize"

type_bits:
  data: 4
  index: 8
  idp: 16

grid_security:
  dir: /etc/grid-security
  cert_dir: /etc/grid-security/certificates
  host:
    key: /etc/grid-security/hostkey.pem
    cert: /etc/grid-security/hostcert.pem

gridftp:
  port: 2811
  chroot: "{{ esg.home }}/gridftp_root"

filebeat:
  rpm: "https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-7.5.1-x86_64.rpm"
  data_log_path: "/var/log/httpd/country_downloads_log"
  ssl_ca_path: "/etc/filebeat/ca.pem"
  ssl_key_path: "/etc/filebeat/key.pem"
  ssl_cert_path: "/etc/filebeat/cert.pem"
  logstash_host: "ophidialab.cmcc.it:5044"