
thredds:
  content: "{{ esg.content }}/thredds"
  tomcat_user:
    name: "dnode_user"
    pass: "{{ admin_pass }}"
    roles: "tdrAdmin,tdsConfig"

thredds_webapp:
  url: "{{ assets.base }}/thredds.war"
  name: thredds

stats_webapp:
  url: "{{ assets.stats_api }}/esgf-stats-api.war"
  name: esgf-stats-api

node_manager:
  egg:
    name: "esgf_node_manager-{{ versions.node_manager_db }}-py2.7.egg"
    url: "{{ assets.node_manager }}/esgf_node_manager-{{ versions.node_manager_db }}-py2.7.egg"
    script: esgf_node_manager_initialize

data_db:
  users:
    pub:
      name: esgcet
      pass: "{{ admin_pass }}"
