
search_webapp:
  url: "{{ assets.search }}/esg-search.war"
  name: esg-search

solr:
  src: http://archive.apache.org/dist/lucene/solr/6.6.6/solr-6.6.6.zip
  root_dir: solr-6.6.6
  path: /usr/local/solr
  home: /usr/local/solr-home
  shards:
    - name: master
      port: 8984
      args: "-Denable.master=true"
    - name: slave
      port: 8983
      args: "-Denable.slave=true"

cog:
  repo: https://github.com/EarthSystemCoG/COG.git
  version: v3.14.3
  dest: /usr/local/cog/cog_install
  base: /usr/local/cog
  wsgi_dir: /etc/cog-wsgi-8889

node_status:
  repo: https://github.com/ESGF/esgf-utils
  dest: /usr/local/esgf-utils
