
<Location "{{ exporter.web_path }}">

    Require host localhost {% if prometheus_host is defined %} {{ prometheus_host }} {% endif %}

    {% if prometheus_ip is defined %} 
    Require ip {{ prometheus_ip }} 
    {% endif %}

    ProxyPass http://localhost:{{ exporter.port }}/metrics
    ProxyPassReverse http://localhost:{{ exporter.port }}/metrics
</Location>
