
- name: Create myproxy-ca dir
  file:
    path: "{{ myproxy.ca.dir }}/newcerts"
    state: directory
    mode: 0700

# Temp CA tasks
- name: Copy temp myproxy CA signing-policy
  when: myproxy_signing_policy is not defined
  template:
    src: signing-policy.j2
    dest: "{{ myproxy.ca.signing_policy }}"

# Trusted, Signed, CA tasks
- name: Copy CA cert
  when: myproxycacert is defined
  copy:
    remote_src: yes
    src: "{{ myproxycacert }}"
    dest: "{{ myproxy.ca.cert }}"

- name: Copy CA key
  when: myproxycakey is defined
  copy:
    remote_src: yes
    src: "{{ myproxycakey }}"
    dest: "{{ myproxy.ca.key }}"
    mode: 0600

- name: Copy myproxy CA signing-policy
  when: myproxy_signing_policy is defined
  copy:
    remote_src: yes
    src: "{{ myproxy_signing_policy }}"
    dest: "{{ myproxy.ca.signing_policy }}"

- name: Load myproxy CA cert
  no_log: yes
  slurp:
    src: "{{ myproxy.ca.cert }}"
  register: certcontents

- name: Import myproxy CA into httpd trusted certs
  no_log: yes
  lineinfile:
    dest: "{{ httpd.cabundle }}"
    line: "{{ certcontents['content'] | b64decode }}"

- name: Get myproxy CA hash
  command: openssl x509 -in {{ myproxy.ca.cert }} -hash -noout
  register: myproxyca_hash

- name: Import myproxy CA into Java Truststore
  java_cert:
    cert_path: "{{ myproxy.ca.cert }}"
    keystore_path: "{{ tomcat.ts.path }}"
    keystore_pass: "{{ tomcat.ts.pass }}"
    cert_alias: "{{ myproxyca_hash.stdout.strip() }}"
    # executable: "{{ java.path }}/bin/keytool"

- name: Install myproxy CA cert into {{ grid_security.cert_dir }}
  copy:
    remote_src: yes
    src: "{{ myproxy.ca.cert }}"
    dest: "{{ grid_security.cert_dir }}/{{ myproxyca_hash.stdout.strip() }}.0"

- name: Install myproxy CA signing policy into {{ grid_security.cert_dir }}
  copy:
    remote_src: yes
    src: "{{ myproxy.ca.signing_policy }}"
    dest: "{{ grid_security.cert_dir }}/{{ myproxyca_hash.stdout.strip() }}.signing_policy"

# CentOS7 myproxy-server requires these files be here
- name: Ensure the myproxy hostcert and hostkey dir exists
  file:
    path: "{{ grid_security.dir }}/myproxy"
    state: directory

- name: Install hostkey into place for myproxy
  copy:
    remote_src: yes
    src: "{{ grid_security.host.key }}"
    dest: "{{ grid_security.dir }}/myproxy/hostkey.pem"
    mode: 0600

- name: Install hostcert into place for myproxy
  copy:
    remote_src: yes
    src: "{{ grid_security.host.cert }}"
    dest: "{{ grid_security.dir }}/myproxy/hostcert.pem"

- name: Set myproxy permissions
  file:
    path: "{{ item }}"
    owner: myproxy
    group: myproxy
    recurse: yes
  loop:
    - "{{ myproxy.ca.dir }}"
    - "{{ grid_security.dir }}/myproxy"