#!/bin/bash
username=$1
if [ X"$username" = X ]; then
    # no username given
    exit 1
fi

# activate virtual env
{{ conda.actv }} {{ myproxy.env }} && \
    python {{ myproxy.scripts.retriever }} $username --cert_file {{ myproxy.ca.cert }} --mapapp
