database = {{ all_db.db }}
host = {{ all_db.host }}
port = {{ all_db.port }}
user = {{ all_db.users.super.name }}
password = {{ all_db.users.super.pass }}
table = esgf_security.user
user_column = username
pwd_column = password
auth_query=select password from esgf_security.user where username = %u and openid like '%%{{ groups['idp'][0] }}%%'
pw_type = crypt_md5
