        authorized_retrievers      "*"
        default_retrievers         "*"
        authorized_renewers        "*"
        authorized_key_retrievers  "*"
        trusted_retrievers         "*"
        default_trusted_retrievers "none"
        max_cert_lifetime          "72"
        disable_usage_stats        "true"
        cert_dir                   "{{ grid_security.cert_dir }}"

        pam_id "myproxy"
        pam "required"

        certificate_issuer_cert "{{ myproxy.ca.cert }}"
        certificate_issuer_key "{{ myproxy.ca.key }}"
        certificate_issuer_key_passphrase "globus"
        certificate_serialfile "/var/lib/globus-connect-server/myproxy-ca/serial"
        certificate_out_dir "/var/lib/globus-connect-server/myproxy-ca/newcerts"
        certificate_issuer_subca_certfile "{{ myproxy.ca.cert }}"
        certificate_mapapp "{{ myproxy.scripts.mapapp }}"
        certificate_extapp "{{ myproxy.scripts.extapp }}"
