
<Location "{{ exporter.web_path }}">

    Require host localhost {% if prometheus_hosts is defined %} {{ prometheus_hosts | join(' ') }} {% endif %}

    {% if prometheus_ips is defined %}
    Require ip {{ prometheus_ips | join(' ') }}
    {% endif %}

    ProxyPass http://localhost:{{ exporter.port }}/metrics
    ProxyPassReverse http://localhost:{{ exporter.port }}/metrics
</Location>
