

# Install myproxy scripts for validating credentials and the conda env in which they will run
- name: Create myproxy conda env
  command: "{{ conda.exe }} create -y -n {{ myproxy.env }} 'python<3' 'pyopenssl' 'psycopg2<2.8'"
  args:
    creates: "{{ conda.envs }}/{{ myproxy.env }}"

- name: Create scripts dir
  file:
    path: "{{ myproxy.scripts.dir }}"
    state: directory

- name: Install extapp
  template:
    src: myproxy/scripts/esg_attribute_callout_app.j2
    dest: "{{ myproxy.scripts.extapp }}"
    mode: 0751

- name: Install mapapp
  template:
    src: myproxy/scripts/myproxy-certificate-mapapp.j2
    dest: "{{ myproxy.scripts.mapapp }}"
    mode: 0751

- name: Install retriever
  template:
    src: myproxy/scripts/retriever.py.j2
    dest: "{{ myproxy.scripts.retriever }}"

# Install config files into /etc/myproxy.d
- name: Create /etc/myproxy.d
  file:
    path: /etc/myproxy.d
    state: directory

- name: Install the Globus Connect ESGF config to /etc/myproxy.d
  template:
    src: myproxy/globus-connect-esgf.j2
    dest: /etc/myproxy.d/globus-connect-esgf

- name: Install /etc/myproxy.d/myproxy-esgf
  template:
    src: myproxy/myproxy-esgf.j2
    dest: /etc/myproxy.d/myproxy-esgf

# Install PAM config files fo postgres auth
- name: Install pam_pgsql.conf
  template:
    src: myproxy/etc_pam_pgsql.conf.j2
    dest: /etc/pam_pgsql.conf
    mode: 0600
    owner: myproxy
    group: myproxy

- name: Install pam.d/myproxy
  copy:
    src: myproxy/etc_pam.d_myproxy
    dest: /etc/pam.d/myproxy

# Install the config file used by the myproxy server
- name: Install myproxy-server.config
  template:
    src: myproxy/myproxy-server.config.j2
    dest: /etc/myproxy-server.config
    mode: 0600
    owner: myproxy
    group: myproxy

- name: Install myproxy-server.config
  template:
    src: myproxy/myproxy-server.config.j2
    dest: "{{ myproxy.scripts.dir }}/myproxy-server.config"
    mode: 0600
    owner: myproxy
    group: myproxy

# Ensure the myproxy user:group has the correct ownership for CentOS7
- name: Set myproxy permissions
  file:
    path: "{{ item }}"
    owner: myproxy
    group: myproxy
    recurse: yes
  loop:
    - /etc/myproxy.d
    - /var/lib/globus-connect-server
    - "{{ myproxy.scripts.dir }}"
    - "{{ grid_security.dir }}/myproxy"

# Open the MyProxy port on CentOS 7
- name: Configure firewalld for MyProxy
  when: is_7 and (configure_centos7_firewalld is not defined or configure_centos7_firewalld)
  firewalld:
    port: 7512/tcp
    permanent: yes
    immediate: yes
    state: enabled

- name: Configure iptables for MyProxy
  when: is_6 and (configure_centos6_iptables is defined and configure_centos6_iptables)
  iptables:
    chain: INPUT
    destination_port: 7512
    jump: ACCEPT
    protocol: tcp
    match: tcp
    action: insert
    rule_num: 5
  register: iptables_conf_myproxy

- name: Save iptables change
  when: is_6 and (configure_centos6_iptables is defined and configure_centos6_iptables) and iptables_conf_myproxy is changed
  command: "service iptables save"
  args:
    warn: no

- name: Register MyProxy
  when:
    - globus_user is defined
    - globus_pass is defined
    - register_myproxy is defined
    - register_myproxy
  include_tasks: register_myproxy.yml
