
# Never stop base services, unless explicitly directed
- name: stop httpd
  service:
    name: httpd
    state: stopped
  tags:
    - httpd
    - never

- name: stop postgres
  service:
    name: postgresql
    state: stopped
  tags:
    - postgres
    - never

# Tomcat
- name: stop tomcat
  command: "{{ tomcat_ctrl }} stop"
  register: result
  failed_when: >
    (result.rc != 0) and
    ("Is Tomcat running?" not in result.stdout') and
    ("PID file found but either no matching process was found" not in result.stdout)
  tags:
    - data
    - idp
    - index
    - tomcat

# Index services
- name: stop cog
  when: "'index' in group_names"
  command: "{{ cog.wsgi_dir }}/apachectl stop"
  tags:
    - index
    - cog

- name: stop solr
  when: "'index' in group_names"
  become: yes
  become_user: solr
  command: "{{ solr.path }}/bin/solr stop -all"
  tags:
    - index
    - solr

# IDP services
- name: stop myproxy-server
  when: "'idp' in group_names"
  service:
    name: myproxy-server
    state: stopped
  ignore_errors: yes
  tags:
    - idp
    - myproxy

- name: stop slcs
  when: "'idp' in group_names"
  command: "{{ slcs.wsgi_dir }}/apachectl stop"
  tags:
    - idp
    - slcs

# Data services
- name: stop filebeat
  when: "'data' in group_names"
  service:
    name: filebeat
    state: stopped
  tags:
    - never
    - filebeat

- name: stop globus-gridftp-server
  when: "'data' in group_names"
  service:
    name: globus-gridftp-server
    state: stopped
  tags:
    - data
    - gridftp

- name: Unmount all bind mounts of data directories specified in esg.ini
  when: "'data' in group_names"
  import_tasks: unmount.yml
  tags:
    - data
    - gridftp