- name: Retrieve info about what datasets to unmount
  fetch:
    src: "{{ esg.config.dir }}/esgcet/esg.ini"
    dest: /tmp/
    flat: yes

- name: Read datasets from esg.ini
  set_fact:
    raw_dataset_roots: "{{ lookup('ini', 'thredds_dataset_roots section=DEFAULT file=/tmp/esg.ini') }}"

- name: Remove fetched esg.ini file
  become: false
  local_action:
    module: file
    path: /tmp/esg.ini
    state: absent

- name: Unmount the dataset root directories from the chroot GridFTP
  command: "umount {{ gridftp.chroot }}/{{ item.split('|')[0].strip() }}"
  register: umount_result
  failed_when: 'umount_result.rc != 0 and "not mounted" not in umount_result.stderr'
  args:
    warn: no
  with_items: "{{ raw_dataset_roots.split('\n')[1:] }}"