DBNAME={{ all_db.db }}
DBHOST={{ all_db.host }}
DBPORT={{ all_db.port }}
DBUSER={{ all_db.users.super.name }}
DBPASS={{ all_db.users.super.pass }}

USAGEFILE=/usr/local/esg-usage-parser/log/esg-server-usage-gridftp.log
TMPFILE=/tmp/__up_tmpfile
DEBUG=0
NODBWRITE=0