
- name: Install required libraries for Conda install
  package:
    name:
      - bzip2

- name: Download miniconda3 installer
  get_url:
    url: https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
    dest: /tmp/Miniconda3-latest-Linux-x86_64.sh
    mode: 0644

- name: Run miniconda3 installer
  command: "bash /tmp/Miniconda3-latest-Linux-x86_64.sh -b -p {{ conda.prefix }}"
  args:
    creates: "{{ conda.prefix }}"
  register: conda_install

- name: Get latest 4.8 Conda
  command: "{{ conda.exe }} install -y -c defaults 'conda<=4.8'"