[installer.properties]
esgf.host={{ ansible_fqdn }}
esgf.idp.peer={{ groups['idp'][0] }}
esgf.index.peer={{ groups['index'][0] }}

# Base db info
db.database={{ all_db.db }}
db.host={{ all_db.host }}
db.port={{ all_db.port }}
db.user={{ all_db.users.super.name }}

# Node manager db info
db.protocol=jdbc:postgresql:
db.driver=org.postgresql.Driver

# IDP info
idp.service.endpoint=https://{{ groups['idp'][0] }}/esgf-idp/idp/openidServer.htm
idp.security.attribute.service.endpoint=https://{{ groups['idp'][0] }}/esgf-idp/saml/soap/secure/attributeService.htm
idp.security.registration.service.endpoint=https://{{ groups['idp'][0] }}/esgf-idp/secure/registrationService.htm
short.lived.certificate.server={{ groups['idp'][0] }}
myproxy.endpoint={{ groups['idp'][0] }}
myproxy.port=7512

# Dashboard info
dashboard.ip.app.home={{ dashboard.ip.home }}
esgf.registration.xml.path={{ esg.config.dir }}/dashboard
esgf.registration.xml.download.url=http://{{ ansible_fqdn }}/esgf-nm/registration.xml

# GridFTP info
gridftp.server.port={{ gridftp.port }}