[installer.properties]
esgf.host={{ hostname.self }}
esgf.idp.peer={{ hostname.idp }}
esgf.index.peer={{ hostname.index }}

# Base db info
db.database={{ all_db.db }}
db.host={{ all_db.host }}
db.port={{ all_db.port }}
db.user={{ all_db.users.super.name }}

# Node manager db info
db.protocol=jdbc:postgresql:
db.driver=org.postgresql.Driver

# IDP info
idp.service.endpoint=https://{{ hostname.idp }}/esgf-idp/idp/openidServer.htm
idp.security.attribute.service.endpoint=https://{{ hostname.idp }}/esgf-idp/saml/soap/secure/attributeService.htm
idp.security.registration.service.endpoint=https://{{ hostname.idp }}/esgf-idp/secure/registrationService.htm
short.lived.certificate.server={{ hostname.idp }}
myproxy.endpoint={{ hostname.idp }}
myproxy.port=7512

# GridFTP info
gridftp.server.port={{ gridftp.port }}