<azs_whitelist>
    <value>https://{{ hostname.idp }}/esg-orp/saml/soap/secure/authorizationService.htm</value>
    <value>https://{{ hostname.self }}/esg-orp/saml/soap/secure/authorizationService.htm</value>
</azs_whitelist>