<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<idp_whitelist xmlns="http://www.esgf.org/whitelist">
    <value>https://{{ groups['idp'][0] }}/esgf-idp/idp/openidServer.htm</value>
</idp_whitelist>