
<Location "/metrics">
    Deny from all
    Allow from localhost {% if prometheus_host is defined %} {{ prometheus_host }} {% endif %}{% if prometheus_ip is defined %} {{ prometheus_ip }} {% endif %}

    ProxyPass http://localhost:9100/metrics
    ProxyPassReverse http://localhost:9100/metrics
</Location>
